<h1>Create new dose for <%= @the_cocktail.name %></h1>
<div class="container">
  <%= simple_form_for([@the_cocktail, @new_dose]) do |d| %>
   <%= d.input :description %>
  <%= d.association :ingredient %>
   <%= d.submit :Submit, class: "btn btn-primary" %>
  <% end %>
</div>
